{% load static %}
<head>
    <title>Magic Library - Decks</title>
    <link href="{% static 'styles.css' %}" type="text/css" rel="stylesheet"></link>
    <style>
        .addBorder {
            border-collapse: collapse;
        }
        
        .addBorder, .addBorder td, .addBorder th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Magic Library - Decks</h1>
    {% include "decks/horizontal_navigation_bar.html" with page_name="add" %}
    <div style="margin-top:10px; float:left">
        <form id="frmMain" action="{% url 'decks:add' %}" method="post">
            {% csrf_token %}
            <div>Deck Name</div>
            <div style="margin-top:10px"><input type="text" name="name" /></div>
            <div style="margin-top:10px">Deck List</div>
            <div style="margin-top:10px"><textarea name="list" cols="25" rows="20"></textarea></div>
            <div style="margin-top:10px">Sideboard List</div>
            <div style="margin-top:10px"><textarea name="sideboard" cols="25" rows="20"></textarea></div>
            <div style="margin-top:10px">
                <input type="submit" value="Save" />
                <input type="button" value="Cancel" onclick="window.location.href='{% url 'decks:index' %}';" />
            </div>
        </form>
    </div>
    {% if error %}
    <div style="margin-top:10px;float:left;text-color:red">{{ error }}</div>
    {% endif %}
    {% if saved %}
    <div class="gray" style="display:block">
        <div class="popup">
            <div>Issue with Deck List</div>
            <div>{{saved}}</div>
            <div><input type="button" onclick="window.location.href='{% url 'decks:index' %}';" value="Ok" /></div>
        </div>
    </div>
    {% endif %}
</body>