{% load static %}
<head>
    <title>Magic Library - Decks</title>
    <link href="{% static 'styles.css' %}" type="text/css" rel="stylesheet"></link>
    <style>
        .addBorder {
            border-collapse: collapse;
        }
        
        .addBorder, .addBorder td, .addBorder th {
            border: 1px solid black;
        }
        
        .addPadding td, .addPadding th {
            padding: 2px;
        }
    </style>
    <script>
        function doSubmit(action) {
            document.getElementById("hdnAction").value = action;
            document.getElementById("frmMain").submit();
        }
        function doDelete() {
            if(confirm("Are you sure that you wish to delete this deck? This cannot be undone.")) {
                doSubmit("delete");
            }
        }
        
        function ShowCardPopup(evt, name, mana, superTypes, types, subTypes, text, plt, colours) {
            var namDiv = document.getElementById("divName");
            var div = document.getElementById("divCardPopup");
            if(namDiv.childNodes.length == 0 || namDiv.childNodes[0].textContent != name) {
                var bg = "LightGray";
                if(superTypes.indexOf("Basic") >= 0) {
                    switch(name) {
                        case "Plains":
                            bg = "white";
                            break;
                        case "Island":
                            bg = "DodgerBlue";
                            break;
                        case "Swamp":
                            bg = "RebeccaPurple";
                            break;
                        case "Mountain":
                            bg = "FireBrick";
                            break;
                        case "Forest":
                            bg = "SeaGreen";
                            break;
                    }
                } else if(types.indexOf("Land") >= 0) {
                    bg = "BurlyWood";
                } else if(types.indexOf("Artifact") < 0) {
                    bg = "Gold";
                    switch(colours) {
                        case 1:
                            bg = "white";
                            break;
                        case 2:
                            bg = "DodgerBlue";
                            break;
                        case 4:
                            bg = "RebeccaPurple";
                            break;
                        case 8:
                            bg = "FireBrick";
                            break;
                        case 16:
                            bg = "SeaGreen";
                            break;
                    }
                }
                div.style.backgroundColor = bg;
                namDiv.innerText = name;
                var ts = superTypes;
                if(ts.length > 0) {
                    ts += " ";
                }
                ts += types;
                if(subTypes.length > 0) {
                    ts += " &mdash; " +subTypes;
                }
                document.getElementById("divType").innerHTML = ts;
                document.getElementById("divText").innerHTML = text.replace(/&amp;quot;/g,"\"");
                document.getElementById("divPTL").innerText = plt;
            }
            if(div.style.display == "none") {
                div.style.top = (evt.clientY+document.body.scrollTop) +"px";
                div.style.left = (evt.clientX+5) +"px";
                div.style.display = "";
            }
        }
        
        function HideCardPopup() {
            document.getElementById("divCardPopup").style.display = "none";
        }
    
        function draw() {
            var curve = [{% for val in deck.mana_curve %}{{val}},{% endfor %}];
            var max = Math.max(...curve);
            var can = document.getElementById("can");
            var ctx = can.getContext("2d");
            var fontHeight = Number(ctx.font.substring(0,ctx.font.indexOf("px")));
            var xAxis = can.height - 8 - 2*fontHeight;
            var yAxis = Math.round(8 + ctx.measureText("99").width + ctx.measureText("C").width);
            var dx = Math.floor((can.width - 2 - yAxis)/curve.length);
            var dy = Math.floor((xAxis - 2)/(max + 1));
            //x-axis
            ctx.beginPath();
            ctx.moveTo(2, xAxis + 0.5);
            ctx.lineTo(can.width - 2, xAxis + 0.5);
            var x;
            ctx.textBaseline = "hanging";
            ctx.textAlign = "center";
            for(var i = 0; i < curve.length; i++) {
                x = yAxis + dx/2 + dx*i;
                ctx.moveTo(x, xAxis + 0.5);
                ctx.lineTo(x, xAxis + 2.5);
                ctx.fillText(""+i, x, xAxis + 4);
            }
            ctx.stroke();
            ctx.textBaseline = "alphabetic";
            ctx.fillText("CMC", Math.round((can.width - 2 - yAxis)/2) + yAxis + 0.5, can.height - 4);
            //y-axis
            ctx.beginPath();
            ctx.strokeStyle = "LightGray";
            var y;
            for(i = 1; i <= max; i++) {
                y = xAxis - dy*i + 0.5;
                ctx.moveTo(yAxis, y);
                ctx.lineTo(can.width - 2, y);
            }
            ctx.stroke();
            ctx.beginPath();
            ctx.strokeStyle = "Black";
            ctx.textBaseline = "middle";
            ctx.textAlign = "right";
            ctx.moveTo(yAxis + 0.5, 2);
            ctx.lineTo(yAxis + 0.5, can.height - 2);
            for(i = 1; i <= max; i++) {
                y = xAxis - dy*i + 0.5;
                ctx.moveTo(yAxis - 2, y);
                if(i%5 == 0) {
                    ctx.lineTo(can.width - 2, y);
                } else {
                    ctx.lineTo(yAxis, y);
                }
                if(fontHeight < dy || i%5 == 0) {
                    ctx.fillText(""+i, yAxis - 2, y);
                }
            }
            ctx.stroke();
            ctx.textAlign = "center";
            ctx.fillText("C",6,(xAxis - 2)/2 - fontHeight*2);
            ctx.fillText("o",6,(xAxis - 2)/2 - fontHeight);
            ctx.fillText("u",6,(xAxis - 2)/2);
            ctx.fillText("n",6,(xAxis - 2)/2 + fontHeight);
            ctx.fillText("t",6,(xAxis - 2)/2 + fontHeight*2);
            //bars
            ctx.fillStyle = "red";
            for(i = 0; i < curve.length; i++) {
                if(curve[i] > 0) {
                    x = i*dx + yAxis + 0.5;
                    ctx.fillRect(x, xAxis - curve[i]*dy + 0.5, dx, curve[i]*dy);
                    ctx.strokeRect(x, xAxis - curve[i]*dy + 0.5, dx, curve[i]*dy);
                }
            }
        }
        
        function showDeckList(showAll) {
            var txt = "";
            var tempText;
            if(document.getElementById("chkBySet").checked) {
                {% for key, value in deck.deck_set_list.items %}
                tempText = "";
                {% for dc in value %}
                if(showAll || {{dc.card.count}} < {{dc.count}} || {{dc.card.count}} < ({{dc.sideboard_count}}+{{dc.count}})) {
                    if(showAll) {
                        tempText += "\n    {% if dc.count > 0 %}{{dc.count}}x {% endif %}{% if dc.sideboard_count > 0%}{{dc.sideboard_count}}s {% endif %}";
                    } else {
                        tempText += "\n    " {% if dc.count > 0 %}+({{dc.count}} - {{dc.card.count}}) +"x "{% endif %}{% if dc.sideboard_count > 0 %}+({{dc.sideboard_count}} - ({{dc.card.count}}-{{dc.count}})) +"s "{% endif %};
                    }
                    tempText += "{% autoescape off %}{{dc.card.name}}{% endautoescape %}{% if dc.card.set_set.count > 1%} (M){% endif %}";
                }
                {% endfor %}
                if(tempText.length > 0) {
                    if(txt.length > 0) {
                        txt += "\n\n";
                    }
                    txt += "{{key}}:" +tempText;
                }
                {% endfor %}
            } else {
                {% for dc in deck.deck_list %}
                if(showAll || {{dc.card.count}} < {{dc.count}}) {
                    if(showAll) {
                        txt += "{{dc.count}}x ";
                    } else {
                        txt += ({{dc.count}} - {{dc.card.count}}) +"x ";
                    }
                    txt += "{% autoescape off %}{{dc.card.name}}{% endautoescape %}\n";
                }
                {% endfor %}
                {% if deck.sideboard %}
                txt += "SIDEBOARD\n";
                {% for dc in deck.sideboard %}
                if(showAll || {{dc.card.count}} < ({{dc.sideboard_count}}+{{dc.count}})) {
                    if(showAll) {
                        txt += "{{dc.sideboard_count}}x ";
                    } else {
                        txt += ({{dc.sideboard_count}} - ({{dc.card.count}} - {{dc.count}})) +"x ";
                    }
                    txt += "{% autoescape off %}{{dc.card.name}}{% endautoescape %}\n";
                }
                {% endfor %}
                {% endif %}
            }
            document.getElementById("txtDeckList").value = txt;
            document.getElementById("divDeckList").style.display = "block";
        }
        
        function copyText() {
            var ele = document.getElementById("txtDeckList");
            ele.select();
            document.execCommand("copy");
            document.getSelection().removeAllRanges();
        }
    </script>
</head>
<body onload="draw()">
    <h1>Magic Library - Decks</h1>
    {% include "decks/horizontal_navigation_bar.html" with page_name="index" %}
    <div class="horizontal_nav_bar_spacer"></div>
    <ul class="horizontal_nav_bar">
        {% for d in decks %}
        <li><a href="{% url 'decks:deck' d.id %}" {% if d.id == deck.id %}class="hor_active"{% endif %}>{{ d.name }}</a></li>
        {% endfor %}
    </ul>
    <div style="margin-top:10px; float:left">
        <form id="frmMain" action="{% url 'decks:deck' deck.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" id="hdnAction" value="" />
            <div><input type="text" name="name" value="{{deck.name}}" /></div>
            <div style="margin-top:10px">
                <span>Show Only Missing</span>
                <label class="switch" style="top:-10px"><input type="checkbox" name="show_only_missing" {% if show_only_missing %}checked{% endif %} onchange="doSubmit('ui')" /><span class="slider"></span></label>
            </div>
            <table class="addBorder" style="text-align:center">
                <tr>
                    <th>Name</th>
                    <th>Mana</th>
                    <th>CMC</th>
                    <th>Type</th>
                    <th>Count</th>
                    <th>Have</th>
                </tr>
                {% for card in deck.deck_list %}
                {% if not show_only_missing or card.card.count < card.count %}
                <tr>
                    <td><a id="a{{card.id}}" href="{% url 'decks:edit_card' card.id %}" onmouseleave="HideCardPopup()" {% if card.commander %}style="font-weight:bold"{% endif %}>{{ card.card.name }}</a></td>
                    <td style="padding-left:5px;padding-right:5px">{% include "cards/mana_view.html" with mana=card.card.manaArr %}</td>
                    <td>{{ card.card.cmc }}</td>
                    <td>{{ card.card.regular_types }}</td>
                    <td><input type="number" name="count-{{ card.id }}" min="0" value="{{card.count}}" style="width:50px" /></td>
                    <td>{{ card.card.count }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="4" style="text-align:right;border-right:0">Total:</td>
                    <td style="text-align:left; border-left:0">{{ deck.card_count }}</td>
                </tr>
            </table>
            {% if deck.sideboard_count > 0 %}
            <div style="margin-top:10px;font-weight:bold;font-size:0.9em">Sideboard</div>
            <table class="addBorder" style="text-align:center">
                <tr>
                    <th>Name</th>
                    <th>Mana</th>
                    <th>CMC</th>
                    <th>Type</th>
                    <th>Count</th>
                    <th>Have</th>
                </tr>
                {% for card in deck.sideboard %}
                {% if not show_only_missing or card.card.count < card.count %}
                <tr>
                    <td><a id="a{{card.id}}" href="{% url 'decks:edit_card' card.id %}" onmouseleave="HideCardPopup()" {% if card.commander %}style="font-weight:bold"{% endif %}>{{ card.card.name }}</a></td>
                    <td style="padding-left:5px;padding-right:5px">{% include "cards/mana_view.html" with mana=card.card.manaArr %}</td>
                    <td>{{ card.card.cmc }}</td>
                    <td>{{ card.card.regular_types }}</td>
                    <td><input type="number" name="sideboard_count-{{ card.id }}" min="0" value="{{card.sideboard_count}}" style="width:50px" /></td>
                    <td>{{ card.card.count }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="4" style="text-align:right;border-right:0">Total:</td>
                    <td style="text-align:left; border-left:0">{{ deck.sideboard_count }}</td>
                </tr>
            </table>
            {% endif %}
            <div style="margin-top:10px">
                <input type="button" onclick="doSubmit('update')" value="Update" />
                <input type="button" onclick="doDelete()" value="Delete" />
            </div>
        </form>
    </div>
    <div style="margin-top:10px; margin-left:5px; float:left; padding-bottom:10px">
        <div><input type="button" onclick="doSubmit('sets')" value="Update Sets" /></div>
        <div style="margin-top:10px">
            <input type="button" onclick="showDeckList(true)" value="Deck List" />
            <input type="button" onclick="showDeckList(false)" value="Deck Need List" />
            <span>Sort Deck List by Set</span>
            <label class="switch" style="top:-10px"><input type="checkbox" id="chkBySet" /><span class="slider"></span></label>
        </div>
        <div>Mana Curve</div>
        <div><canvas id="can" width="400" height="200"></canvas></div>
        <div style="margin-top:10px">Colour Counts</div>
        <table class="addBorder addPadding">
            <tr>
                <th>Colour</th>
                <th>Count</th>
            </tr>
            {% for key,value in deck.card_colours.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
        </table>
        <div style="margin-top:10px">Dot Counts</div>
        <table class="addBorder addPadding">
            <tr>
                <th>Colour</th>
                <th>Count</th>
            </tr>
            {% for key,value in deck.card_dots.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
        </table>
        <div style="margin-top:10px">Land ({{deck.land_count}})</div>
        <div style="border: 1px solid black; padding:2px">
            {% for dc in deck.land %}
            <div id="d{{dc.id}}" onmouseleave="HideCardPopup()">{{dc.card.name}} ({{dc.count}})</div>
            {% endfor %}
        </div>
    </div>
    <div id="divCardPopup" style="display:none;position:absolute;border:1px solid black;padding:10px; width:300px; height:200px">
        <div id="divName" style="float:left">test</div>
        <div id="divMana" style="float:right"></div>
        <div id="divType" style="clear:both"></div>
        <div id="divText" style="border:1px solid black;background-color:white; width:285px; height:65%; padding:5px; overflow-y:hidden; font-size:0.9em;"></div>
        <div id="divPTL" style="text-align:right;margin-top:10px"></div>
    </div>
    <div id="divDeckList" class="gray">
        <div class="popup">
            <div>Deck List</div>
            <div><textarea id="txtDeckList" rows="30" style="width:100%"></textarea></div>
            <div>
                <input type="button" value="Copy" onclick="copyText()" />
                <input type="button" value="Close" onclick="document.getElementById('divDeckList').style.display='';" />
            </div>
        </div>
    </div>
    <script>
        {% for card in deck.deck_list %}
        {% if not show_only_missing or card.card.count < card.count %}
        document.getElementById("a{{card.id}}").addEventListener('mouseenter',function(e) {ShowCardPopup(e,"{%autoescape off%}{{card.card.name}}{%endautoescape%}","{{card.card.manaCost}}","{{card.card.super_types}}","{{card.card.regular_types}}","{{card.card.sub_types}}","{{card.card.js_text}}","{{card.card.plt}}",{{card.card.colours}});});
        {% endif %}
        {% endfor %}
        {% for card in deck.sideboard %}
        {% if not show_only_missing or card.card.count < card.count %}
        document.getElementById("a{{card.id}}").addEventListener('mouseenter',function(e) {ShowCardPopup(e,"{%autoescape off%}{{card.card.name}}{%endautoescape%}","{{card.card.manaCost}}","{{card.card.super_types}}","{{card.card.regular_types}}","{{card.card.sub_types}}","{{card.card.js_text}}","{{card.card.plt}}",{{card.card.colours}});});
        {% endif %}
        {% endfor %}
        {% for card in deck.land %}
        {% if not show_only_missing or card.card.count < card.count %}
        document.getElementById("d{{card.id}}").addEventListener('mouseenter',function(e) {ShowCardPopup(e,"{%autoescape off%}{{card.card.name}}{%endautoescape%}","{{card.card.manaCost}}","{{card.card.super_types}}","{{card.card.regular_types}}","{{card.card.sub_types}}","{{card.card.js_text}}","{{card.card.plt}}",{{card.card.colours}});});
        {% endif %}
        {% endfor %}
    </script>
</body>