{% load static %}
<head>
    <title>Magic Library - Decks</title>
    <link href="{% static 'm_styles.css' %}" type="text/css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .addBorder {
            border-collapse: collapse;
        }

        .addBorder, .addBorder td, .addBorder th {
            border: 1px solid black;
        }

        .addPadding td, .addPadding th {
            padding: 2px;
        }
    </style>
    <script>
        function doSubmit(action) {
            document.getElementById("hdnAction").value = action;
            document.getElementById("frmMain").submit();
        }
        function doDelete() {
            if(confirm("Are you sure that you wish to delete this deck? This cannot be undone.")) {
                doSubmit("delete");
            }
        }

        function ShowCardPopup(name, mana, superTypes, types, subTypes, text, plt, colours) {
            var namDiv = document.getElementById("divName");
            var div = document.getElementById("divCardPopup");
            if(namDiv.childNodes.length == 0 || namDiv.childNodes[0].textContent != name) {
                var bg = "LightGray";
                if(superTypes.indexOf("Basic") >= 0) {
                    switch(name) {
                        case "Plains":
                            bg = "white";
                            break;
                        case "Island":
                            bg = "DodgerBlue";
                            break;
                        case "Swamp":
                            bg = "RebeccaPurple";
                            break;
                        case "Mountain":
                            bg = "FireBrick";
                            break;
                        case "Forest":
                            bg = "SeaGreen";
                            break;
                    }
                } else if(types.indexOf("Land") >= 0) {
                    bg = "BurlyWood";
                } else if(types.indexOf("Artifact") < 0) {
                    bg = "Gold";
                    switch(colours) {
                        case 1:
                            bg = "white";
                            break;
                        case 2:
                            bg = "DodgerBlue";
                            break;
                        case 4:
                            bg = "RebeccaPurple";
                            break;
                        case 8:
                            bg = "FireBrick";
                            break;
                        case 16:
                            bg = "SeaGreen";
                            break;
                    }
                }
                div.firstElementChild.style.backgroundColor = bg;
                namDiv.innerText = name;
                var manaDiv = document.getElementById("divMana");
                while(manaDiv.childElementCount > 0) {
                    manaDiv.removeChild(manaDiv.lastElementChild);
                }
                if(mana != "") {
                    var manaArr = mana.split(",");
                    var img, div1, div2;
                    for(var i = 0; i < manaArr.length; i++) {
                        if(isNaN(manaArr[i]) && manaArr[i] != "X") {
                            img = document.createElement("IMG");
                            if(manaArr[i].length == 1) {
                                switch(manaArr[i].charAt(0)) {
                                    case "W":
                                        img.src = "{% static 'white.png' %}";
                                        break;
                                    case "U":
                                        img.src = "{% static 'blue.png' %}";
                                        break;
                                    case "B":
                                        img.src = "{% static 'black.png' %}";
                                        break;
                                    case "R":
                                        img.src = "{% static 'red.png' %}";
                                        break;
                                    case "G":
                                        img.src = "{% static 'green.png' %}";
                                        break;
                                }
                                if(i > 0) {
                                    img.style.marginLeft = "5px";
                                }
                                manaDiv.appendChild(img);
                            } else if(manaArr[i].charAt(1) == "P") {
                                switch(manaArr[i].charAt(0)) {
                                    case "W":
                                        img.src = "{% static 'p_white.png' %}";
                                        break;
                                    case "U":
                                        img.src = "{% static 'p_blue.png' %}";
                                        break;
                                    case "B":
                                        img.src = "{% static 'p_black.png' %}";
                                        break;
                                    case "R":
                                        img.src = "{% static 'p_red.png' %}";
                                        break;
                                    case "G":
                                        img.src = "{% static 'p_green.png' %}";
                                        break;
                                }
                                if(i > 0) {
                                    img.style.marginLeft = "5px";
                                }
                                manaDiv.appendChild(img);
                            } else {
                                div1 = document.createElement("DIV");
                                div1.style.position = "relative";
                                div1.style.display = "inline-block";
                                switch(manaArr[i].charAt(0)) {
                                    case "W":
                                        img.src = "{% static 'white.png' %}";
                                        break;
                                    case "U":
                                        img.src = "{% static 'blue.png' %}";
                                        break;
                                    case "B":
                                        img.src = "{% static 'black.png' %}";
                                        break;
                                    case "R":
                                        img.src = "{% static 'red.png' %}";
                                        break;
                                    case "G":
                                        img.src = "{% static 'green.png' %}";
                                        break;
                                }
                                div1.appendChild(img);
                                img = document.createElement("IMG");
                                img.style.position = "absolute";
                                img.style.top = "50%";
                                img.style.left = "50%";
                                img.style.transform = "translate(-50%,-50%)";
                                switch(manaArr[i].charAt(1)) {
                                    case "W":
                                        img.src = "{% static 'h_white.png' %}";
                                        break;
                                    case "U":
                                        img.src = "{% static 'h_blue.png' %}";
                                        break;
                                    case "B":
                                        img.src = "{% static 'h_black.png' %}";
                                        break;
                                    case "R":
                                        img.src = "{% static 'h_red.png' %}";
                                        break;
                                    case "G":
                                        img.src = "{% static 'h_green.png' %}";
                                        break;
                                }
                                div1.appendChild(img);
                                if(i > 0) {
                                    div1.style.marginLeft = "5px";
                                }
                                manaDiv.appendChild(div1);
                            }

                        } else {
                            div1 = document.createElement("DIV");
                            div1.style.position = "relative";
                            div1.style.display = "inline-block";
                            img = document.createElement("IMG");
                            img.src = "{% static 'gray.png' %}";
                            div1.appendChild(img);
                            div2 = document.createElement("DIV");
                            div2.style.position = "absolute";
                            div2.style.top = "50%";
                            div2.style.left = "50%";
                            div2.style.transform = "translate(-50%,-50%)";
                            div2.appendChild(document.createTextNode(manaArr[i]));
                            div1.appendChild(div2);
                            manaDiv.appendChild(div1);
                        }
                    }
                }
                var ts = superTypes;
                if(ts.length > 0) {
                    ts += " ";
                }
                ts += types;
                if(subTypes.length > 0) {
                    ts += " &mdash; " +subTypes;
                }
                document.getElementById("divType").innerHTML = ts;
                document.getElementById("divText").innerHTML = text.replace(/&amp;quot;/g,"\"").replace(/\n/g,"<br/>");;
                document.getElementById("divPTL").innerText = plt;
            }
            if(div.style.display == "") {
                div.style.display = "block";
            }
        }

        function HideCardPopup() {
            document.getElementById("divCardPopup").style.display = "";
        }

        function draw() {
            if(sessionStorage.getItem("currentTab")) {
                var arr = JSON.parse(sessionStorage.getItem("currentTab"));
                if(arr[0] == {{deck.id}}) {
                    showTab(document.getElementById(arr[1]),arr[2]);
                }
            }
            var curve = [{% for val in deck.mana_curve %}{{val}},{% endfor %}];
            var max = Math.max(...curve);
            var can = document.getElementById("can");
            var ctx = can.getContext("2d");
            var fontHeight = Number(ctx.font.substring(0,ctx.font.indexOf("px")));
            var xAxis = can.height - 8 - 2*fontHeight;
            var yAxis = Math.round(8 + ctx.measureText("99").width + ctx.measureText("C").width);
            var dx = Math.floor((can.width - 2 - yAxis)/curve.length);
            var dy = Math.floor((xAxis - 2)/(max + 1));
            //x-axis
            ctx.beginPath();
            ctx.moveTo(2, xAxis + 0.5);
            ctx.lineTo(can.width - 2, xAxis + 0.5);
            var x;
            ctx.textBaseline = "hanging";
            ctx.textAlign = "center";
            for(var i = 0; i < curve.length; i++) {
                x = yAxis + dx/2 + dx*i;
                ctx.moveTo(x, xAxis + 0.5);
                ctx.lineTo(x, xAxis + 2.5);
                ctx.fillText(""+i, x, xAxis + 4);
            }
            ctx.stroke();
            ctx.textBaseline = "alphabetic";
            ctx.fillText("CMC", Math.round((can.width - 2 - yAxis)/2) + yAxis + 0.5, can.height - 4);
            //y-axis
            ctx.beginPath();
            ctx.strokeStyle = "LightGray";
            var y;
            for(i = 1; i <= max; i++) {
                y = xAxis - dy*i + 0.5;
                ctx.moveTo(yAxis, y);
                ctx.lineTo(can.width - 2, y);
            }
            ctx.stroke();
            ctx.beginPath();
            ctx.strokeStyle = "Black";
            ctx.textBaseline = "middle";
            ctx.textAlign = "right";
            ctx.moveTo(yAxis + 0.5, 2);
            ctx.lineTo(yAxis + 0.5, can.height - 2);
            for(i = 1; i <= max; i++) {
                y = xAxis - dy*i + 0.5;
                ctx.moveTo(yAxis - 2, y);
                if(i%5 == 0) {
                    ctx.lineTo(can.width - 2, y);
                } else {
                    ctx.lineTo(yAxis, y);
                }
                if(fontHeight < dy || i%5 == 0) {
                    ctx.fillText(""+i, yAxis - 2, y);
                }
            }
            ctx.stroke();
            ctx.textAlign = "center";
            ctx.fillText("C",6,(xAxis - 2)/2 - fontHeight*2);
            ctx.fillText("o",6,(xAxis - 2)/2 - fontHeight);
            ctx.fillText("u",6,(xAxis - 2)/2);
            ctx.fillText("n",6,(xAxis - 2)/2 + fontHeight);
            ctx.fillText("t",6,(xAxis - 2)/2 + fontHeight*2);
            //bars
            ctx.fillStyle = "red";
            for(i = 0; i < curve.length; i++) {
                if(curve[i] > 0) {
                    x = i*dx + yAxis + 0.5;
                    ctx.fillRect(x, xAxis - curve[i]*dy + 0.5, dx, curve[i]*dy);
                    ctx.strokeRect(x, xAxis - curve[i]*dy + 0.5, dx, curve[i]*dy);
                }
            }
        }

        function showDeckList(showAll) {
            var txt = "";
            var tempText;
            if(document.getElementById("chkBySet").checked) {
                {% for key, value in deck.deck_set_list.items %}
                tempText = "";
                {% for dc in value %}
                if(showAll || {{dc.card.count}} < {{dc.count}} || {{dc.card.count}} < ({{dc.sideboard_count}}+{{dc.count}})) {
                    if(showAll) {
                        tempText += "\n    {% if dc.count > 0 %}{{dc.count}}x {% endif %}{% if dc.sideboard_count > 0%}{{dc.sideboard_count}}s {% endif %}";
                    } else {
                        tempText += "\n    " {% if dc.count > 0 %}+({{dc.count}} - {{dc.card.count}}) +"x "{% endif %}{% if dc.sideboard_count > 0 %}+({{dc.sideboard_count}} - ({{dc.card.count}}-{{dc.count}})) +"s "{% endif %};
                    }
                    tempText += "{% autoescape off %}{{dc.card.name}}{% endautoescape %}{% if dc.card.set_set.count > 1%} (M){% endif %}";
                }
                {% endfor %}
                if(tempText.length > 0) {
                    if(txt.length > 0) {
                        txt += "\n\n";
                    }
                    txt += "{{key}}:" +tempText;
                }
                {% endfor %}
            } else {
                {% for dc in deck.deck_list %}
                if(showAll || {{dc.card.count}} < {{dc.count}}) {
                    if(showAll) {
                        txt += "{{dc.count}}x ";
                    } else {
                        txt += ({{dc.count}} - {{dc.card.count}}) +"x ";
                    }
                    txt += "{% autoescape off %}{{dc.card.name}}{% endautoescape %}\n";
                }
                {% endfor %}
                {% if deck.sideboard %}
                txt += "SIDEBOARD\n";
                {% for dc in deck.sideboard %}
                if(showAll || {{dc.card.count}} < ({{dc.sideboard_count}}+{{dc.count}})) {
                    if(showAll) {
                        txt += "{{dc.sideboard_count}}x ";
                    } else {
                        txt += ({{dc.sideboard_count}} - ({{dc.card.count}} - {{dc.count}})) +"x ";
                    }
                    txt += "{% autoescape off %}{{dc.card.name}}{% endautoescape %}\n";
                }
                {% endfor %}
                {% endif %}
            }
            document.getElementById("txtDeckList").value = txt;
            document.getElementById("divDeckList").style.display = "block";
        }

        function copyText() {
            var ele = document.getElementById("txtDeckList");
            ele.select();
            document.execCommand("copy");
            document.getSelection().removeAllRanges();
        }

        function showTab(tar, id) {
            var tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            var tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            sessionStorage.setItem("currentTab",JSON.stringify([{{deck.id}},tar.id,id]));

            document.getElementById(id).style.display = "block";
            tar.className += " active";
        }
        
        function hideAddCard() {
            document.getElementById("divAddCard").style.display = "";
            document.getElementById("txtCardName").value = "";
            document.getElementById("numAddMain").value = "0";
            document.getElementById("numAddSide").value = "0";
        }
        
        function updateList(id, value) {
            var hdn = document.getElementById("hdn" +id);
            if(hdn.value != value) {
                if(hdn.value != "") {
                    document.getElementById(id+hdn.value).className = "";
                }
                document.getElementById(id+value).className = "selected";
            }
            hdn.value = value;
        }
    </script>
</head>
<body onload="draw()">
    {% include "decks/m_top_bar.html" with deck_types=deck_types %}
    <form id="frmMain" action="{% url 'decks:deck' deck.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" id="hdnAction" value="" />
        <div style="margin-top:10px"><input type="text" name="name" value="{{deck.name}}" /></div>
        <div style="margin-top:10px">
            Deck Type:
            <select name="deckType">
                {% for dt in deck_types %}
                <option value="{{dt.id}}" {% if dt.id == deck.deckType.id %}selected{% endif %}>{{dt.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div style="margin-top:10px">
            <label for="chk1">Show Only Missing</label>
            <label class="switch" style="top:-10px"><input type="checkbox" id="chk1" name="show_only_missing" {% if show_only_missing %}checked{% endif %} onchange="doSubmit('ui')" /><span class="slider"></span></label>
        </div>
        <div style="float:left">
            <div><input type="button" value="Add Card" onclick="document.getElementById('divAddCard').style.display='block';" /></div>
            <div style="margin-top:10px"><input type="button" onclick="doSubmit('sets')" value="Update Sets" /></div>
        </div>
        <div style="margin-left:10px; float:left; padding-bottom: 10px">
            <div><input type="button" onclick="showDeckList(true)" value="Deck List" /></div>
            <div style="margin-top:10px"><input type="button" onclick="showDeckList(false)" value="Deck Need List" /></div>
        </div>
        <div style="margin-left:10px; float:left">
            <label for="chkBySet">Sort Deck List by Set</label>
            <label class="switch" style="top:-10px"><input type="checkbox" id="chkBySet" /><span class="slider"></span></label>
        </div>
        <div class="tab" style="clear:both">
            <button id="btn1" type="button" class="tablinks active" onclick="showTab(event.currentTarget,'Main')">Main</button>
            {% if deck.sideboard_count > 0 %}
            <button id="btn2" type="button" class="tablinks" onclick="showTab(event.currentTarget,'Sideboard')">Sideboard</button>
            {% endif %}
            <button id="btn3" type="button" class="tablinks" onclick="showTab(event.currentTarget,'Stats')">Stats</button>
        </div>
        <div class="tabcontent" id="Main" style="display:block">
            <table class="addBorder" style="text-align:center">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Mana</th>
                    <th>CMC</th>
                    <th>Type</th>
                    <th>Count</th>
                    <th>Have</th>
                </tr>
                {% for card in deck.deck_list %}
                {% if not show_only_missing or card.card.count < card.count %}
                <tr>
                    <td>
                        <a class="imagebutton"
                            href='javascript:ShowCardPopup("{{card.card.name}}","{{card.card.manaCost}}","{{card.card.super_types}}","{{card.card.regular_types}}","{{card.card.sub_types}}","{{card.card.js_text}}","{{card.card.plt}}",{{card.card.colours}})'>
                            <i class="material-icons md-48">remove_red_eye</i>
                        </a>
                    </td>
                    <td><a href="{% url 'decks:edit_card' card.id %}" {% if card.commander %}style="font-weight:bold"{% endif %}>{{ card.card.name }}</a></td>
                    <td style="padding-left:5px;padding-right:5px">{% include "cards/mana_view.html" with mana=card.card.manaArr %}</td>
                    <td>{{ card.card.cmc }}</td>
                    <td>{{ card.card.regular_types }}</td>
                    <td style="padding:10px"><input type="number" name="count-{{ card.id }}" min="0" value="{{card.count}}" style="width:100px" /></td>
                    <td>{{ card.card.count }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="4" style="text-align:right;border-right:0">Total:</td>
                    <td style="text-align:left; border-left:0">{{ deck.card_count }}</td>
                </tr>
            </table>
        </div>
        {% if deck.sideboard_count > 0 %}
        <div class="tabcontent" id="Sideboard">
            <div style="margin-top:10px;font-weight:bold;font-size:0.9em">Sideboard</div>
            <table class="addBorder" style="text-align:center">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Mana</th>
                    <th>CMC</th>
                    <th>Type</th>
                    <th>Count</th>
                    <th>Have</th>
                </tr>
                {% for card in deck.sidebord %}
                {% if not show_only_missing or card.card.count < card.sideboard_count %}
                <tr>
                    <td>
                        <a class="imagebutton"
                            href='javascript:ShowCardPopup("{{card.card.name}}","{{card.card.manaCost}}","{{card.card.super_types}}","{{card.card.regular_types}}","{{card.card.sub_types}}","{{card.card.js_text}}","{{card.card.plt}}",{{card.card.colours}})'>
                            <i class="material-icons md-48">remove_red_eye</i>
                        </a>
                    </td>
                    <td><a href="{% url 'decks:edit_card' card.id %}" {% if card.commander %}style="font-weight:bold"{% endif %}>{{ card.card.name }}</a></td>
                    <td style="padding-left:5px;padding-right:5px">{% include "cards/mana_view.html" with mana=card.card.manaArr %}</td>
                    <td>{{ card.card.cmc }}</td>
                    <td>{{ card.card.regular_types }}</td>
                    <td style="padding:10px"><input type="number" name="sideboard_count-{{ card.id }}" min="0" value="{{card.sideboard_count}}" style="width:100px" /></td>
                    <td>{{ card.card.count }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="4" style="text-align:right;border-right:0">Total:</td>
                    <td style="text-align:left; border-left:0">{{ deck.sideboard_count }}</td>
                </tr>
            </table>
        </div>
        {% endif %}
        <div class="tabcontent" id="Stats">
            <div>Mana Curve</div>
            <div><canvas id="can" width="400" height="200"></canvas></div>
            <div style="margin-top:10px">Colour Counts</div>
            <table class="addBorder addPadding">
                <tr>
                    <th>Colour</th>
                    <th>Count</th>
                </tr>
                {% for key,value in deck.card_colours.items %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}
            </table>
            <div style="margin-top:10px">Dot Counts</div>
            <table class="addBorder addPadding">
                <tr>
                    <th>Colour</th>
                    <th>Count</th>
                </tr>
                {% for key,value in deck.card_dots.items %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}
            </table>
            <div style="margin-top:10px">Type Counts</div>
            <table class="addBorder addPadding">
                <tr>
                    <th>Type</th>
                    <th>Count</th>
                </tr>
                {% for key,value in deck.types.items %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}
            </table>
            <div style="margin-top:10px">Land ({{deck.land_count}})</div>
            <div style="border: 1px solid black; padding:2px">
                {% for dc in deck.land %}
                <div id="d{{dc.id}}" onmouseleave="HideCardPopup()">{{dc.card.name}} ({{dc.count}})</div>
                {% endfor %}
            </div>
        </div>
        <div style="margin-top:10px">
            <div>Notes</div>
            <textarea name="notes" style="width:100%" rows="10">{{ deck.notes }}</textarea>
        </div>
        <div style="margin-top:10px">
            <input type="button" onclick="doSubmit('update')" value="Update" />
            <input type="button" onclick="doDelete()" value="Delete" />
        </div>
        <div id="divAddCard" class="gray">
            <div class="popup">
                <div>Add Card</div>
                <div>
                    <input type="text" name="card_name" id="txtCardName" value="{{card_name}}" />
                    <input type="button" value="Search" onclick="doSubmit('search')" />
                </div>
                <div>
                    <input type="hidden" name="cards" id="hdncards" value="" />
                    <ul id="cards" class="select" style="height: 240px; overflow-y:auto">
                        {% for card in card_list %}
                        <li id="cards{{card.id}}" onclick="updateList('cards','{{card.id}}')">{%autoescape off%}{{ card.name }}{%endautoescape%}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>Main: <input type="number" name="add_main_count" id="numAddMain" value="{% if add_main_count %}{{add_main_count}}{% else %}0{% endif %}" min="0" style="width:100px"/></div>
                <div>Sideboard: <input type="number" name="add_side_count" id="numAddSide" value="{% if add_side_count %}{{add_side_count}}{% else %}0{% endif %}" min="0" style="width:100px"/></div>
                <div style="color:red">{{add_err}}</div>
                <div>
                    <input type="button" value="Add" onclick="doSubmit('add')" />
                    <input type="button" value="Add+" onclick="doSubmit('add_plus')" />
                    <input type="button" value="Cancel" onclick="hideAddCard()"/>
                </div>
            </div>
        </div>
    </form>
    <div id="divDeckList" class="gray">
        <div class="popup" style="width:500px">
            <div>Deck List</div>
            <div><textarea id="txtDeckList" rows="30" style="width:100%"></textarea></div>
            <div>
                <input type="button" value="Copy" onclick="copyText()" />
                <input type="button" value="Close" onclick="document.getElementById('divDeckList').style.display='';" />
            </div>
        </div>
    </div>
    <div id="divCardPopup" class="gray">
        <div style="width:600px; margin:15% auto;font-size:36px; padding:16px">
            <div id="divName" style="float:left;font-size:inherit">test</div>
            <div id="divMana" style="float:right;font-size:inherit" class="mana"></div>
            <div id="divType" style="clear:both;font-size:inherit"></div>
            <div id="divText" style="border:1px solid black;background-color:white; padding:5px; overflow-y:hidden; font-size:0.9em;"></div>
            <div id="divPTL" style="text-align:right;margin-top:10px;font-size:inherit"></div>
        </div>
    </div>
    <script>
        window.onclick = function(event) {
            if(event.target.className == "gray") {
                event.target.style.display = "";
            }
        }
        {% if show_add %}document.getElementById('divAddCard').style.display='block';{% endif %}
        document.getElementById("txtCardName").addEventListener("keyup",function(event) {
            if(event.keyCode == 13) {
                event.preventDefault();
                doSubmit('search');
            }
        });
    </script>
</body>