{% load static %}
<html>
    <head>
        <title>Whiteboards</title>
        <link href="{% static 'styles.css' %}"  type="text/css" rel="stylesheet"></link>
        <style>
            ul {
                list-style-type: none;
            }
            
            li {
                margin-bottom: 10px;
            }
            
            .errorList {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>Add New Whiteboard</h1>
        <form action="{% url 'whiteboard:add' %}" method="POST">
            {% csrf_token %}
            <ul>
                {{form.as_ul}}
                <li><label for="id_password_confirm">Confirm Password:</label> <input type="password" name="password_confirm" maxlength="20" required id="id_password_confirm"></li>
            </ul>
            <div>
                <input type="submit" value="Save" />
                <input type="button" value="Cancel" onclick="window.location='{% url 'whiteboard:index' %}';" />
            </div>
        </form>
    </body>
</html>