{% load static %}
<head>
    <title>Magic Library - Cards</title>
    <link href="{% static 'm_styles.css' %}" type="text/css" rel="stylesheet"></link>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        function doSubmit(action) {
            document.getElementById("hdnAction").value = action;
            document.getElementById("frmMain").submit();
        }

        function updateList(id, value) {
            var hdn = document.getElementById("hdn" +id);
            var lst = JSON.parse(hdn.value);
            var ind = lst.indexOf(value);
            if(ind < 0) {
                lst.splice(-1,0,value.replace("&#39;","'"));
                document.getElementById(id+value).className = "selected";
            } else {
                lst.splice(ind,1);
                document.getElementById(id+value).className = "";
            }
            hdn.value = JSON.stringify(lst);
        }
    </script>
</head>
<body>
    {% include "cards/m_top_bar.html" %}
    <div style="margin-top:10px">
        <form id="frmMain" action="{% url 'cards:json' %}" method="post" autocomplete="off">
            {% csrf_token %}
            <input type="hidden" name="action" id="hdnAction" value="search" />
            <div>
                <input type="search" id="txtName" name="name" value="{{ name }}" />
                <input type="submit" value="Search" />
            </div>
            <div style="margin-top:10px; width:500px;">
                <input type="hidden" name="cards" id="hdncards" value="[]" />
                <ul id="cards" class="select" style="height: 240px; overflow-y:auto">
                    {% for result in results %}
                    <li id="cards{{result}}" onclick="updateList('cards','{{result}}')">{%autoescape off%}{{ result }}{%endautoescape%}</li>
                    {% endfor %}
                </ul>
            </div>
            <div style="margin-top:10px">Add to Decks</div>
            <div style="margin-top:10px; width:500px;">
                <input type="hidden" name="deck_choices" id="hdndeck_choices" value="{{deck_choices}}" />
                <ul id="deck_choices" class="select" style="height: 240px; overflow-y:auto">
                    {% for d in decks %}
                    <li id="deck_choices{{d.id}}" onclick="updateList('deck_choices',{{d.id}})" {% if d.id in deck_choices %}class="selected"{% endif %}>{{d.name}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <input type="checkbox" name="add_sideboard" id="chk1" {% if add_sideboard %}checked{% endif %} />
                <label for="chk1">Add to Sideboard</label>
            </div>
            <div style="margin-top:10px">Add to Notes</div>
            <div style="margin-top:10px"><textarea rows="5" cols="30" name="notes">{{ notes }}</textarea></div>
            <div style="margin-top:10px">
                <input type="button" onclick="doSubmit('add')" value="Add" />
                <input type="button" onclick="doSubmit('addp')" value="Add +" />
                <input type="button" onclick="window.location.href='{% url 'cards:index' %}'" value="Cancel" />
            </div>
        </form>
    </div>
    <script>
        document.getElementById("txtName").focus();
        {% if name %}
        document.getElementById("txtName").setSelectionRange({{ name|length }},{{ name|length }});
        {% endif %}
    </script>
</body>