{% load static %}
<head>
    <title>Magic Library - Cards</title>
    <link href="{% static 'm_styles.css' %}" type="text/css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        function showEditMana() {
            {% if card.manaCost == '' %}
            document.getElementById("chkBlank").checked = true;
            blankChange();
            {% else %}
            var manaTotal = 0;
            {% for mc in card.manaArr %}
                {% if mc|first in 'WUBRG' %}
                    {% if mc|length == 1 %}
                    addManaRow('{{ mc|first}}',0,'');
                    {% elif mc|last == 'P' %}
                    addManaRow('{{ mc|first}}',2,'');
                    {% else %} {# hybrid #}
                    addManaRow('{{ mc|first}}',1,'{{ mc|last }}');
                    {% endif %}
                {% elif mc == 'X' %}
                manaTotal += 1;
                document.getElementById("chkX").checked = true;
                {% else %}
                manaTotal += {{ mc }};
                {% endif %}
            {% endfor %}
            document.getElementById("numManaCount").value = manaTotal;
            {% endif %}
            document.getElementById("editMana").style.display = "block";
        }
        
        function hideEditMana() {
            document.getElementById("editMana").style.display = "";
            var tbl = document.getElementById("tblMana");
            while(tbl.childElementCount > 1) {
                tbl.removeChild(tbl.lastElementChild);
            }
            manaRowCount = 0;
        }
        
        function manaUpdate() {
            var manaString = "";
            if(!document.getElementById("chkBlank").checked) {
                var manaCount = Number(document.getElementById("numManaCount").value);
                if(manaCount > 0) {
                    if(document.getElementById("chkX").checked) {
                        for(var i = 0; i < manaCount; i++) {
                            if(i > 0) manaString += ",";
                            manaString += "X";
                        }
                    } else {
                        manaString += manaCount;
                    }
                }
                for(var i = 1; i <= manaRowCount; i++) {
                    if(document.getElementById("tr" +i)) {
                        if(manaString.length > 0) {
                            manaString += ",";
                        }
                        manaString += document.getElementById("hdn1" +i).value;
                        if(Number(document.getElementById("hdnMana" +i).value) == 1) {
                            manaString += document.getElementById("hdn2" +i).value;
                        } else if(Number(document.getElementById("hdnMana" +i).value) == 2) {
                            manaString += "P";
                        }
                    }
                }
                if(manaString.length == 0) {
                    manaString += manaCount;
                }
            }
            document.getElementById("hdnMana").value = manaString;
            document.getElementById("hdnAction").value = "update";
            document.getElementById("frmMain").submit();
        }
        
        function blankChange() {
            var isBlank = document.getElementById("chkBlank").checked;
            document.getElementById("numManaCount").disabled = isBlank;
            document.getElementById("chkX").disabled = isBlank;
            document.getElementById("btnAddManaRow").disabled = isBlank;
            if(isBlank) {
                var tbl = document.getElementById("tblMana");
                while(tbl.childElementCount > 1) {
                    tbl.removeChild(tbl.lastElementChild);
                }
                manaRowCount = 0;
            }
        }
        
        var manaRowCount = 0;
        function addManaRow(c1,t,c2) {
            manaRowCount += 1;
            var tr = document.createElement("TR");
            tr.id = "tr" +manaRowCount;
            var td = document.createElement("TD");
            td.style.textAlign = "center";
            var img = document.createElement("IMG");
            img.id = "img1" +manaRowCount;
            switch(c1) {
                case "W":
                    img.src = "{% static 'white.png' %}";
                    break;
                case "U":
                    img.src = "{% static 'blue.png' %}";
                    break;
                case "B":
                    img.src = "{% static 'black.png' %}";
                    break;
                case "R":
                    img.src = "{% static 'red.png' %}";
                    break;
                case "G":
                    img.src = "{% static 'green.png' %}";
                    break;
            }
            img.setAttribute('onclick',"updateImage(1," +manaRowCount +")");
            td.appendChild(img);
            var hdn = document.createElement("INPUT");
            hdn.id = "hdn1" +manaRowCount;
            hdn.type = "hidden";
            hdn.value = c1;
            td.appendChild(hdn);
            tr.appendChild(td);
            
            td = document.createElement("TD");
            var sel = document.createElement("DIV");
            sel.id = "sel" +manaRowCount;
            sel.className = "combo";
            var div = document.createElement("DIV");
            div.setAttribute("onclick","showMenu('sel" +manaRowCount +"')");
            var ele = document.createElement("SPAN");
            switch(t) {
                case 0:
                    ele.innerText = "Normal";
                    break;
                case 1:
                    ele.innerText = "Hybrid";
                    break;
                case 2:
                    ele.innerText = "Phyrexian";
                    break;
            }
            div.appendChild(ele);
            ele = document.createElement("I");
            ele.className = "material-icons";
            ele.innerText = "arrow_drop_down";
            div.appendChild(ele);
            sel.appendChild(div);
            hdn = document.createElement("INPUT");
            hdn.type = "hidden";
            hdn.id = "hdnMana" +manaRowCount;
            hdn.value = t;
            sel.appendChild(hdn);
            div = document.createElement("DIV");
            div.className = "menu";
            ele = document.createElement("DIV");
            ele.setAttribute("onclick","updateRow(" +manaRowCount +",0)");
            ele.innerText = "Normal";
            div.appendChild(ele);
            ele = document.createElement("DIV");
            ele.setAttribute("onclick","updateRow(" +manaRowCount +",1)");
            ele.innerText = "Hybrid";
            div.appendChild(ele);
            ele = document.createElement("DIV");
            ele.setAttribute("onclick","updateRow(" +manaRowCount +",2)");
            ele.innerText = "Phyrexian";
            div.appendChild(ele);
            sel.appendChild(div);
            td.appendChild(sel);
            tr.appendChild(td);
            
            td = document.createElement("TD");
            td.style.textAlign = "center";
            img = document.createElement("IMG");
            img.id = "img2" +manaRowCount;
            switch(c2) {
                case "W":
                    img.src = "{% static 'white.png' %}";
                    break;
                case "U":
                    img.src = "{% static 'blue.png' %}";
                    break;
                case "B":
                    img.src = "{% static 'black.png' %}";
                    break;
                case "R":
                    img.src = "{% static 'red.png' %}";
                    break;
                case "G":
                    img.src = "{% static 'green.png' %}";
                    break;
                default:
                    img.src = "{% static 'gray.png' %}";
                    break;
            }
            img.setAttribute('onclick',"updateImage(2," +manaRowCount +")");
            td.appendChild(img);
            hdn = document.createElement("INPUT");
            hdn.id = "hdn2" +manaRowCount;
            hdn.type = "hidden";
            hdn.value = c2;
            td.appendChild(hdn);
            tr.appendChild(td);
            
            td = document.createElement("TD");
            var btn = document.createElement("I");
            btn.className = "material-icons coloured md-36";
            btn.innerText = "delete";
            btn.setAttribute('onclick',"deleteManaRow(" +manaRowCount +")");
            td.appendChild(btn);
            tr.appendChild(td);
            
            document.getElementById("tblMana").appendChild(tr);
        }
        
        function updateImage(imageNumber, manaRow) {
            var imageColour = document.getElementById("hdn" +imageNumber +manaRow);
            switch(imageColour.value) {
                case "W":
                    imageColour.value = "U";
                    document.getElementById("img" +imageNumber +manaRow).src = "{% static 'blue.png' %}";
                break;
                case "U":
                    imageColour.value = "B";
                    document.getElementById("img" +imageNumber +manaRow).src = "{% static 'black.png' %}";
                break;
                case "B":
                    imageColour.value = "R";
                    document.getElementById("img" +imageNumber +manaRow).src = "{% static 'red.png' %}";
                break;
                case "R":
                    imageColour.value = "G";
                    document.getElementById("img" +imageNumber +manaRow).src = "{% static 'green.png' %}";
                break;
                case "G":
                    imageColour.value = "W";
                    document.getElementById("img" +imageNumber +manaRow).src = "{% static 'white.png' %}";
                break;
            }
        }
        
        function updateRow(manaRow, value) {
            var imageColour2 = document.getElementById("hdn2" +manaRow);
            switch(value) {
                case 0:
                case 2:
                    if(value == 0) {
                        selectMenuItem('sel'+manaRow, value, 'Normal');
                    } else {
                        selectMenuItem('sel'+manaRow, value, 'Phyrexian');
                    }
                    if(imageColour2.value != "") {
                        imageColour2.value = "";
                        document.getElementById("img2" +manaRow).src = "{% static 'gray.png' %}";
                    }
                    break;
                case 1:
                    imageColour2.value = "W";
                    document.getElementById("img2" +manaRow).src = "{% static 'white.png' %}";
                    selectMenuItem('sel'+manaRow, value, 'Hybrid');
                    break;
            }
        }
        
        function deleteManaRow(manaRow) {
            document.getElementById("tblMana").removeChild(document.getElementById("tr" +manaRow));
        }
        
        function updateSets() {
            document.getElementById("pleaseWait").style.display = "block";
            document.getElementById("hdnAction").value = "sets";
            document.getElementById("frmMain").submit();
        }
        
        function deleteCard() {
            if(confirm("Are you sure you wish to delete this card? This can't be undone.")) {
                document.getElementById("hdnAction").value = "delete";
                document.getElementById("frmMain").submit();
            }
        }
        
        function removeFromDeck() {
            var sel = document.getElementById("hdnDeck");
            if(sel.value != "") {
                document.getElementById("hdnAction").value = "remove";
                document.getElementById("frmMain").submit();
            }
        }
        
        function addToDeck() {
            document.getElementById("addToDeck").style.display = "block";
        }
        
        function doDeckAdd() {
            document.getElementById("hdnAction").value = "deckadd";
            document.getElementById("frmMain").submit();
        }
        
        function updateDeck(deck_id) {
            var old = document.querySelector("#selDeck li.selected");
            if(old) {
                old.className = "";
            }
            if(!old || old.id != "liDeck"+deck_id) {
                document.getElementById("liDeck"+deck_id).className = "selected";
                document.getElementById("hdnDeck").value = deck_id;
            }
        }
        
        function showMenu(id) {
            var menu = document.querySelector("#" +id +" .menu");
            if(menu.style.display == "") {
                menu.style.display = "block";
                document.querySelector("#" +id +" i").innerText = "arrow_drop_up";
                document.querySelector("#" +id +" > div:first-child").className = "showing";
            } else {
                menu.style.display = "";
                document.querySelector("#" +id +" i").innerText = "arrow_drop_down";
                document.querySelector("#" +id +" > div:first-child").className = "";
            }
        }
        
        function selectMenuItem(id, value, name) {
            document.querySelector("#" +id +" .menu").style.display = "";
            document.querySelector("#" +id +" i").innerText = "arrow_drop_down";
            document.querySelector("#" +id +"  > div:first-child").className = "";
            document.querySelector("#" +id +" span").innerText = name;
            document.querySelector("#" +id +" input").value = value;
        }
    </script>
</head>
<body>
    {% include "cards/m_top_bar.html" %}
    {% if errors %}
    <div style="color:red">
        Cannot save card due to the following errors
        <ul>
            {% for err in errors %}
            <li>{{ err }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if mode == 'add' %}
    <form id="frmMain" action="{% url 'cards:add' %}" method="post">
    {% else %}
    <form id="frmMain" action="{% url 'cards:edit' card.id %}" method="post">
    {% endif %}
        {% csrf_token %}
        <input type="hidden" name="action" id="hdnAction" value="{{ mode }}" />
        <div style="margin-top:10px"><input name="name" type="text" value="{{ card.name }}" placeholder="Name" style="width:100%" /></div>
        <div style="margin-top:10px" onclick="showEditMana()" class="clickable">
            <input type="hidden" id="hdnMana" name="manaCost" value="{{ card.manaCost }}" />
            {% include "cards/m_mana_view.html" with mana=card.manaArr %}
        </div>
        <div style="margin-top:10px"><input type="text" name="super_type" value="{% if super_type %}{{ super_type }}{% elif card.id %}{{ card.super_types }}{% endif %}" placeholder="Supertype" style="width:100%" /></div>
        <div style="margin-top:10px"><input type="text" name="regular_type" value="{% if regular_type %}{{ regular_type }}{% elif card.id %}{{ card.regular_types }}{% endif %}" placeholder="Type" style="width:100%" /></div>
        <div style="margin-top:10px"><input type="text" name="sub_type" value="{% if sub_type %}{{ sub_type }}{% elif card.id %}{{ card.sub_types }}{% endif %}" placeholder="Subtype" style="width:100%" /></div>
        <div style="margin-top:10px"><textarea style="width:100%" name="text" rows="5">{{ card.text }}</textarea></div>
        <div style="text-align:right; margin-top:10px"><input type="text" name="plt" style="width:100px" value="{{ card.plt }}" placeholder="PTL" /></div>
        <div>
            <input type="number" name="count" style="width:100px" min="0" value="{{ card.count }}" />
            <input type="checkbox" name="add_mana" {% if card.addMana %}checked{% endif %} id="chk1" />
            <label for="chk1">Adds Mana</label>
        </div>
        {% if card.id %}
        <div style="margin-top:10px">Last Updated: {{ card.lastUpdated }}</div>
        {% endif %}
        <div style="margin-top:10px; clear:both">
            <div>Decks</div>
            <input type="hidden" name="deck" id="hdnDeck" />
            <ul id="selDeck" style="float:left" class="select" size="5">
            {% for dc in decks %}
                <li id="liDeck{{dc.id}}" onclick="updateDeck({{dc.id}})">{{dc.deck.name}} ({{dc.count}}){% if dc.commander %} (C){% endif %}{% if dc.sideboard_count > 0 %} (S-{{dc.sideboard_count}}){% endif %}</li>
            {% endfor %}
            </ul>
            <div style="float:left; margin-left:10px">
                <div><input type="button" onclick="addToDeck()" value="Add to Deck" /></div>
                <div style="margin-top:10px"><input type="button" onclick="removeFromDeck()" value="Remove from Deck" /></div>
            </div>
        </div>
        <div style="margin-top:10px; clear:both">
            <div>Notes</div>
            <textarea rows="5" cols="50" name="notes">{{ card.notes }}</textarea>
        </div>
        {% if mode == 'edit' %}
        <div style="margin-top:10px">
            <div>Sets ({{ card.name }})</div>
            <div><textarea rows="5" cols="50" readonly>{{ card.print_sets }}</textarea></div>
            <div style="margin-top:5px"><input type="button" value="Update Sets from JSON" onclick="updateSets()" /></div>
        </div>
        {% endif %}
        <div style="margin-top:10px">
            <input type="submit" value="{% if mode == 'add' %}Add{% else %}Save{% endif %}" />
            {% if mode == 'edit' %}<input type="button" value="Delete" onclick="deleteCard()" />{% endif %}
            <input type="button" value="Cancel" onclick="window.location.href='{% url 'cards:index' %}'" />
        </div>
        <div id="editMana" class="gray">
            <div class="popup" style="width:450px">
                <div>Edit Mana</div>
                <div>
                    <input type="checkbox" id="chkBlank" onclick="blankChange()" />
                    <label for="chkBlank">Is Blank</label>
                </div>
                <div>
                    <input type="number" id="numManaCount" min="0" value="0" style="width:100px" />
                    <input type="checkbox" id="chkX" />
                    <label for="chkX">Is X</label>
                </div>
                <div>
                    <table id="tblMana" style="width:100%">
                        <tr>
                            <th>Colour</th>
                            <th style="width:100%">Type</th>
                            <th>Second Colour</th>
                            <td style="text-align:center"><i type="button" id="btnAddManaRow" onclick="addManaRow('W',0,'')" class="material-icons coloured md-36">add_circle</i></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <input type="button" value="Update" onclick="manaUpdate()" />
                    <input type="button" value="Cancel" onclick="hideEditMana()" />
                </div>
            </div>
        </div>
        <div id="addToDeck" class="gray">
            <div class="popup" style="width:400px">
                <div>Add to Deck</div>
                <div class="combo" id="deckcombo">
                    <div onclick="showMenu('deckcombo')"><span>{{all_decks.0.name}}</span><i class="material-icons">arrow_drop_down</i></div>
                    <input type="hidden" name="newdeck" value="{{all_decks.0.id}}" />
                    <div class="menu">
                        {% for d in all_decks %}
                        <div onclick="selectMenuItem('deckcombo',{{d.id}},'{{d.name}}')">{{d.name}}</div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    Count
                    <input type="number" name="deck_count" value="0" min="0" style="width:100%" />
                </div>
                <div>
                    Sideboard
                    <input type="number" name="sideboard_count" value="0" min="0" style="width:100%" />
                </div>
                <div>
                    <input type="checkbox" name="commander" id="chk2" />
                    <label for="chk2">Commander</label>
                </div>
                <div>
                    <input type="button" onclick="doDeckAdd()" value="OK" />
                    <input type="button" onclick="document.getElementById('addToDeck').style.display='';" value="Cancel" />
                </div>
            </div>
        </div>
        <div id="pleaseWait" class="gray">
            <div class="pleaseWait">Please Wait</div>
        </div>
    </form>
</body>