{% load static %}
<head>
    <title>Magic Library - Cards</title>
    <link href="{% static 'm_styles.css' %}" type="text/css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .addBorder {
            border-collapse: collapse;
        }
        
        .addBorder, .addBorder td, .addBorder th {
            border: 1px solid black;
        }
    </style>
    <script>
        function doSubmit(action) {
            document.getElementById("hdnAction").value = action;
            document.getElementById("frmMain").submit();
        }
    </script>
</head>
<body>
    {% include "cards/m_top_bar.html" %}
    <div style="margin-top:10px">
        <form id="frmMain" action="{% url 'cards:index' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" id="hdnAction" value="search" />
            <div>
                <input name="simple_search" type="text" {% if simple_search %}value="{{ simple_search }}"{% endif%} placeholder="Search" />
                <input type="submit" value="Search" />
            </div>
            <div style="margin-top:10px{% if isadvanced %};float:left;margin-left:10px;padding-bottom:8px{% endif %}">
                {% if search_results %}
                <table class="addBorder" style="text-align:center">
                    <tr>
                        <th>Name</th>
                        <th>Mana</th>
                        <th>CMC</th>
                        <th>Type</th>
                        <th>Count</th>
                    </tr>
                    {% for result in search_results %}
                    <tr>
                        <td><a href="{% url 'cards:edit' result.id%}">{{ result.name }}</a></td>
                        <td style="padding-left:5px;padding-right:5px">{% include "cards/mana_view.html" with mana=result.manaArr %}</td>
                        <td>{{ result.cmc }}</td>
                        <td>{{ result.regular_types }}</td>
                        <td>{{ result.count }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <div style="margin-top:10px">No results found</div>
                {% endif %}
            </div>
        </form>
    </div>
    {% if deck_list %}
    <div class="gray" id="divDeckList">
        <div class="popup">
            <div>Decks</div>
            {% for d in deck_list %}
            <div>{{d.name}}</div>
            {% endfor %}
            <div><input type="button" onclick="document.getElementById('divDeckList').style.display='';" value="OK" /></div>
        </div>
    </div>
    {% endif %}
</body>