<script>
    /* Open when someone clicks on the span element */
    function openNav() {
        document.getElementById("myNav").style.width = "100%";
    }

    /* Close when someone clicks on the "x" symbol inside the overlay */
    function closeNav() {
        document.getElementById("myNav").style.width = "0%";
    }
</script>
<div class="topnav">
    <span class="title">{{page_name}}</span>
    <div class="icon" onclick="openNav()"><i class="material-icons">menu</i></div>
</div>
<div id="myNav" class="overlay">
  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <a href="{% url 'decks:index' %}">Decks</a>
    <a href="{% url 'cards:index' %}">Search</a>
    <a href="{% url 'cards:add' %}">Add</a>
    <a href="{% url 'cards:json' %}">Add JSON</a>
  </div>

</div>