{% load static %}
<head>
	<title>Thea's Cross Stitch Patterns</title>
	<link href="{% static 'xstyles.css' %}" type="text/css" rel="stylesheet"></link>
	<script>
		{% autoescape off %}
		floss = {{ pattern.get_floss_json }};
		pattern = {{ pattern.get_stitches }};
		selected_floss = {{selected_floss}};
		function draw_canvas() {
			var x, y;
			var canvas = document.getElementById("pattern_canvas");
			var ctx = canvas.getContext("2d");
			ctx.strokeStyle = "lightgrey";
			ctx.strokeRect(51,51,52*{{pattern.width}},52*{{pattern.height}});
			ctx.font = "20px Arial";
			ctx.fillStyle = "black";
			ctx.lineWidth = 2;
			ctx.textAlign = "center";
			for(x = 1; x <= {{pattern.width}}; x++) {
				if(x < {{pattern.width}}) {
					if(x%10==0) ctx.strokeStyle="black";
					else if(x%5==0) ctx.strokeStyle="grey";
					else ctx.strokeStyle="lightgrey";
					ctx.beginPath();
					ctx.moveTo(51+52*x,52);
					ctx.lineTo(51+52*x,51+52*{{pattern.height}});
					ctx.stroke();
				}
				ctx.textBaseline = "alphabetic";
				ctx.fillText(""+x,52*x+26,48);
				ctx.textBaseline = "top";
				ctx.fillText(""+x,52*x+26,{{pattern.canvas_height}}-46);
			}
			ctx.textBaseline = "middle";
			for(y = 1; y <= {{pattern.height}}; y++) {
				if(y < {{pattern.height}}) {
					if(y%10==0) ctx.strokeStyle="black";
					else if(y%5==0) ctx.strokeStyle="grey";
					else ctx.strokeStyle="lightgrey";
					ctx.beginPath();
					ctx.moveTo(51,51+52*y);
					ctx.lineTo(51+52*{{pattern.width}},51+52*y);
					ctx.stroke();
				}
				ctx.textAlign = "end";
				ctx.fillText(""+y,48,50+52*y-26);
				ctx.textAlign = "start";
				ctx.fillText(""+y,{{pattern.canvas_width}}-46,50+52*y-26);
			}
			for(x = 0; x < {{pattern.width}}; x++) {
				for(y = 0; y < {{pattern.height}}; y++) {
					if(pattern[y][x] >= 0){
						ctx.fillStyle = "#"+floss[""+pattern[y][x]]["rgb"];
						ctx.fillRect(52+52*x,52+52*y,50,50);
					}
				}
			}
		}
		
		function set_floss(floss_id) {
			document.getElementById("floss"+selected_floss).classList.remove("active");
			selected_floss = floss_id;
			document.getElementById("floss"+selected_floss).classList.add("active");
		}
		
		function update_floss(txt) {
			document.getElementById("hover_floss").innerText = txt;
		}
		
		function update_stitch(evt) {
			var rect = evt.target.getBoundingClientRect();
			var x = evt.clientX - rect.left;
			var y = evt.clientY - rect.top;
			var row = Math.ceil((y - 51)/52);
			var column = Math.ceil((x - 51)/52);
			pattern[row-1][column-1] = selected_floss;
			var canvas = document.getElementById("pattern_canvas");
			var ctx = canvas.getContext("2d");
			if(selected_floss == -1) {
				ctx.fillStyle = "white";
				document.getElementById("hover_stitch").innerText = "No stitch (" +row +" " +column +")";
			}
			else {
				ctx.fillStyle = "#"+floss[""+selected_floss]["rgb"];
				document.getElementById("hover_stitch").innerText = floss[""+selected_floss]["code"] +" (" +row +" " +column +")";
			}
			ctx.fillRect(52+52*(column-1),52+52*(row-1),50,50);
		}

		function update_stitch_bar(evt) {
			var rect = evt.target.getBoundingClientRect();
			var x = evt.clientX - rect.left;
			var y = evt.clientY - rect.top;
			var row = Math.ceil((y - 51)/52);
			var column = Math.ceil((x - 51)/52);
			if(row < 1 || row > {{pattern.height}} || column < 1 || column > {{pattern.width}}) {
				document.getElementById("hover_stitch").innerText = "";
			} else {
				var floss_text = "No stitch";
				if(pattern[row-1][column-1] >= 0) floss_text = floss[pattern[row-1][column-1]]["code"];
				document.getElementById("hover_stitch").innerText = floss_text +" (" +row +" " +column +")";
			}
		}
		
		function clear_stitch_bar() {
			document.getElementById("hover_stitch").innerText = "";
		}
		
		function updatePattern() {
			document.getElementById("inpattstr").value = JSON.stringify(pattern);
			document.getElementById("inselfl").value = ""+selected_floss;
		}
		{% endautoescape %}
	</script>
</head>
<body onload="draw_canvas()">
	<div class="header"><h1>Edit Pattern: {{ pattern.name }} ({{pattern.width}}x{{pattern.height}})</h1></div>
	{% include "cross_stitch/side_nav.html" %}
	<div>
		<form action="{% url 'cross_stitch:edit' pattern.id %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="pattern_string" id="inpattstr" />
			<input type="hidden" name="selected_floss" id="inselfl" />
			<div class="floss_bar">
				<div>
					<input type="submit" onclick="updatePattern()" value="Save" />
				</div>
				<div id="hover_floss" style="height:30px;font-size:smaller"></div>
				<div id="floss-1" style="backgound-color:white"
					class="palette{% if selected_floss == -1 %} active{%endif%}"
					onclick="set_floss(-1)" onmouseenter="update_floss('No stitch')" onmouseleave="update_floss('')"></div>
				{% for floss in pattern.get_ordered_floss %}
				<div id="floss{{floss.id}}" style="background-color:#{{floss.rgb_hex_string}}"
					class="palette{% if selected_floss == floss.id %} active{%endif%}"
					onclick="set_floss({{floss.id}})" onmouseenter="update_floss('{{floss.colour_code}} ({{floss.name}})')" onmouseleave="update_floss('')"></div>
				{% endfor %}
			</div>
			<div>
				<div id="hover_stitch" style="height:30px"></div>
				<canvas id="pattern_canvas" width="{{pattern.canvas_width}}" height="{{pattern.canvas_height}}"/>
			</div>
		</form>
	</div>
	<script>
		document.getElementById("pattern_canvas").addEventListener("click",update_stitch);
		document.getElementById("pattern_canvas").addEventListener("mousemove",update_stitch_bar);
		document.getElementById("pattern_canvas").addEventListener("mouseleave",clear_stitch_bar);
	</script>
</body>