body {
    font-family: Arial, sans-serif;
    margin: 8px 0 0 8px;
}

* {
    font-size: 18px;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-72 { font-size: 72px; }

.topnav {
    overflow: hidden;
    background-color: #5F5F5F;
    position: relative;
    margin: -8px -8px 0 -8px;
    cursor: default;
}

.topnav .title {
  color: white;
  padding: 28px 32px;
  text-decoration: none;
  font-size: 32px;
  display: block;
}

.topnav .icon {
    cursor: hand;
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px 16px;
    color: white;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.95); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-menu {
    display: none;
    padding-left: 40px;
}

.overlay-content .selected {
    background-color: rgb(76,175,80); /* 4CAF50 fallback color */
    background-color: rgba(76,175,80, 0.95); /* 4CAF50 w/opacity */
}

.overlay .line {
    border: 2px solid WhiteSmoke;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px 20px;
  text-decoration: none;
  font-size: 72px;
  color: WhiteSmoke;
  display: block; /* Display block instead of inline */
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  text-align: right;
  padding-right: 20px;
}

.closebtn a {
    font-size: 120px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 48px}
  .closebtn a {
    font-size: 80px;
  }
}

.clickable {
    cursor: hand;
    padding: 2px;
}

.clickable:hover {
    background-color: Aqua;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.search-header {
    font-weight: bold;
    font-size: 0.75em;
    margin-right: 5px;
}

.pleaseWait {
    border: 1px solid black;
    background-color: LemonChiffon;
    padding: 20px;
    width: 100px;
    margin: 100px auto;
    text-align: center;
    font-weight: bold;
}

input[type=button], input[type=submit], a.button_style {
    min-width: 128px;
    height: 72px;
    padding: 0 32px;
    background-color: #4CAF50;
    color: white;
    border: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 16px;
}

a.button_style {
    line-height: 72px;
    padding: 20px 32px;
    text-decoration: none;
    border: none;
    font-size: 32px;
    border-radius: 16px;
    text-align: center;
}

input[type=text], input[type=number], input[type="search"] {
    padding: 12px 20px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: WhiteSmoke;
    border-radius: 2px;
    font-size: 36px;
}

input[type=text]:focus, input[type=number]:focus, input[type="search"]:focus {
    background-color: LightGray;
    outline: none;
    border-bottom: 2px solid #4CAF50;
}

textarea {
    text-size-adjust: none;
    padding: 12px 20px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: WhiteSmoke;
    border-radius: 2px;
    font-size: 36px;
    font-family: Arial, sans-serif;
}

textarea:focus {
    background-color: LightGray;
    outline: none;
    border-bottom: 2px solid #4CAF50;
}

textarea[readonly] {
    background-color: WhiteSmoke;
    border: 0;
}

td a {
    min-width: 128px;
    line-height: 72px;
    padding: 20px 32px;
    color: black;
    text-decoration: none;
    border: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 16px;
}

.gray {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup {
    background-color: white;
    padding-top: 20px;
    margin: 15% auto;
    border-radius: 10px;
}

.popup > div {
    margin: 0 20px 10px 20px;
    padding: 0;
}

.popup > div:first-child {
    font-weight: bold;
}

.popup > div:last-child {
    margin-bottom: 0;
    margin-right: 0;
    text-align: right;
}

.popup input[type=button] {
    background-color: white;
    color: #4CAF50;
}

.mana img {
    width: 48px;
    height: 48px;
}

.mana div {
    font-size: 36px;
}

input[type=checkbox] + label {
    font-size: 36px;
}

input[type=checkbox] + label::before {
    font-family: 'Material Icons';
    content: "check_box_outline_blank";
    font-size: 48px;
    color: #4CAF50;
}

input[type=checkbox] + label.small::before {
    font-size: 36px;
}


input[type=checkbox]:checked + label::before {
    content: "check_box";
}

input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}

ul.select {
    border: 1px solid DarkGray;
    padding: 10px 0;
    cursor: default;
}

ul.select > li {
    padding: 12px 16px;
    font-size: 24px;
    text-decoration: none;
    display: block;
}

ul.select > li.selected {
    background-color: LightGray;
    color: black;
    outline: none;
}

.combo {
    position: relative;
}

.combo > div:first-child {
    border: 1px solid Gray;
    position: relative;
    border-radius: 8px;
    padding: 12px 16px;
    clear: both;
    cursor: pointer;
}

.combo i {
    position: absolute;
    right: 16px;
}

.combo > div:first-child.showing {
    border-radius: 8px 8px 0 0;
    background-color: LightGray;
    border: 0;
}

.menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    top: 40px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.menu div {
    padding: 12px 16px;
    font-size: 24px;
}

.coloured {
    color: #4CAF50;
}

.tab {
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-left: -8px;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin-left: -8px;
}