body {
    font-family: Arial, sans-serif;
    margin: 8px 0 0 8px;
}

.topnav {
    overflow: hidden;
    background-color: #5F5F5F;
    position: relative;
    margin: -8px -8px 0 -8px;
}

.topnav #myLinks {
  display: none;
  background-color: #333;
}

.topnav .title {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav .icon {
    cursor: hand;
    position: absolute;
    right: 0;
    top: 0;
    padding: 13px 16px;
    color: white;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.95); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.clickable {
    cursor: hand;
    padding: 2px;
}

.clickable:hover {
    background-color: Aqua;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.search-header {
    font-weight: bold;
    font-size: 0.75em;
    margin-right: 5px;
}

.pleaseWait {
    border: 1px solid black;
    background-color: LemonChiffon;
    padding: 20px;
    width: 100px;
    margin: 100px auto;
    text-align: center;
    font-weight: bold;
}

input[type=button], input[type=submit] {
    min-width: 64px;
    height: 36px;
    padding: 0 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

input[type=text] {
    padding: 12px 20px;
    border: none;
    border-bottom: 1px solid gray;
    background-color: WhiteSmoke;
    border-radius: 2px;
}

input[type=text]:focus {
    background-color: LightGray;
    outline: none;
    border-bottom: 2px solid #4CAF50;
}